body{
    background-color: #007065;
}
.triangle-green{
    height: 0px;
    width: 0px;
    border-radius: 0px;
    border: 150px solid;
    border-color:transparent;
    border-bottom-color:#10b395;
    margin-left: 200px;
    display: inline-block;
    margin-bottom: 800px;
    border-top:none ;
    margin-top: 270px;
    position: fixed;
}
.triangle-white{
    height: 0px;
    width: 0px;
    border-radius: 0px;
    border: 150px solid;
    border-color:transparent;
    
    border-bottom-color:#ffeecf;
    margin-left: 200px;
    display: inline-block;
    border-top: none;
margin-top: 150px;
position:fixed;
    }

.triangle-skin{
    height: 0px;
    width: 0px;
    margin-left: 200px;
    border-radius: 0px;
    border: 150px solid;
    border-color: transparent;
    
    border-bottom-color:#f5c181 ;
    display: inline-block;
    margin-top: 60px;
    position: fixed;
}




#position{
    margin-left: 400px;
}